* {
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}
header {
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px;
}
nav {
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px;
}
.mediumbox {
    height: 240px;
    margin: 0px 10px;
    clear: both;
}
.littlebox {

    float: left;
    width: 450px;
    background-color: #ebebeb;
    padding: 30px;
    height: 240px;
}
aside {
    float: right;
    width: 450px;
    background-color: #ebebeb;
    padding: 30px;
    height: 240px;
}
.tinybox {

    width: 40%;
    background-color: #777;
    height: 150px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 125px;
    margin-bottom: 50px;
    color: #ebebeb;
}
.headings {
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
    color: #777;
}
.paragraph {
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
    color: #777;
}
footer {
    clear: both;
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px 10px 0px 10px;
    line-height: 50px;
}
.clear {
}